<div class="card-body">
    <div class="row justify-content-center ">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12">    
            <div class="card" id="card2">
                <h5 class="card-header text-center"> Add Author </h5>
                <div class="card-body">
                    <form (ngSubmit)="addAuthor()">
                    <table class="table table-borderless">
                        <tr>
                            <td> Title </td>
                            <td> <input type="text" name="authorTitle" class="form-control" [(ngModel)]="authorItem.authorTitle" required > </td>
                        </tr>
                        <br>
                        <tr>
                            <td> Author </td>
                            <td> <input type="text" class="form-control" name="book" [(ngModel)]="authorItem.book" required> </td>
                        </tr>
                        <br>
                        <tr>
                            <td> Genre </td>
                            <td> <input type="text" class="form-control" name="genre" [(ngModel)]="authorItem.genre" required> </td>
                        </tr>
                        <br>
                        <tr>
                            <td> Description </td>
                            <td> <textarea class="form-control" name="description" [(ngModel)]="authorItem.description" id="" cols="100" rows="5"></textarea> </td>
                        </tr>
                        <br>
                        
                        <tr>
                            <td> Upload Image </td>
                            <td> <input type="text" class="form-control" name="aimage" [(ngModel)]="authorItem.urlToImage" > </td>
                        </tr>
                        <br>
                        <tr>
                            <td> <button type="reset" class="btn btn-primary"> Reset </button></td>
                            <td> <button type="submit"  class="btn btn-success" > Add </button></td>
                        </tr>
                    </table></form>
                </div>
            </div>
        </div>
    </div>
</div>
